/* Artfully masterminded by ZURB  */

/* -------------------------------------------------- 
   shared styles
-----------------------------------------------------*/

body, p, div, a {
	font-size: 12px;
	line-height: 1.4;
}

hr.yellow {
	border: solid #fdb813;
	border-width: 3px 0 0;
	clear: both;
	margin: 5px 0 10px;
	height: 0;
}

hr.red {
	border: solid #c4122f;
	border-width: 3px 0 0;
	clear: both;
	margin: 5px 0 10px;
	height: 0;
}

.eng {
	font-weight: bold;
}

.ger {
	font-weight: normal;
	font-style: italic;
}



.secondP{
	margin-top: 15px; 
}

footer {
	color: #636466;
	margin: 50px 0px;
}

	footer a {
		color: #636466;
		text-decoration: underline;
	}

/* -------------------------------------------------- 
   over ride	
-----------------------------------------------------*/

.row {
	width: 960px;
}

/* -----------------------------------------
   Nav Bar
----------------------------------------- */

	#logo {
		margin-top: 43px; 
	}

	ul{
		margin:0;
		padding: 0;
		list-style-type: none; 
		z-index: 1; 
	}

	.navBar {
		margin-top: 100px;
		float: left;
	}

		.navBar a {
			color: #000; 
		}

		.navBar div {
			margin-left: 31px;
			float: left;
		}

		ul.navBar li{
			float: left; 
			padding-right: 30px;  
		}

	ul.subNav{
		position: absolute;
		display: none; 
	}
		ul.subNav li{
			clear:both;
		}
			


/* -----------------------------------------
   Welcome Page
----------------------------------------- */

	.mainContent{
		margin-top: 30px; 
	}

	.welcomeImage_1{
	}

	.welcomeImage_2{
		margin: 0px 10px 10px 0px;
	}

	.social {
		color: #636466; 
		margin-top: 35px; 
	}

	.social i {
		font-size: 24px;
		margin-top: 15px;
	}

	.rightSocial {
		margin-top: 0px; 
		text-align: right;
	}


/* -----------------------------------------
   sub pages
----------------------------------------- */

.links{
	margin-top: 35px; 
	color: #636466; 
}
	.links a{
		color: #636466; 
	}
	.links a:hover{
		color: #636466; 
		text-decoration: underline;
	}

.redEmail {
	color: #c4122f;
}
	.redEmail:hover{
	color: #c4122f;
	text-decoration: underline;
	}














