/* Artfully masterminded by ZURB  */

/* -------------------------------------------------- 
   over ride	
-----------------------------------------------------*/

	.Aone {
	padding-bottom: 30px; 
	background: green; 
	}
	.Atwo {
		padding-bottom: 30px; 
		background: purple; 
	}


/* -----------------------------------------
   Nav Bar
----------------------------------------- */

	#logo {
		margin-top: 43px; 
		width: 180px;
	}

	.navBar {
		margin-top: 88px;
	}

		.navBar a {
			color: black; 
			padding-right: 18px; 
			font-size: 10px; 
		}


/* -----------------------------------------
   Welcome Page
----------------------------------------- */




/* -----------------------------------------
   Page Name 2
----------------------------------------- */


