/* Artfully masterminded by ZURB  */

/* -------------------------------------------------- 
   over ride	
-----------------------------------------------------*/



/* -----------------------------------------
   Nav Bar
----------------------------------------- */

	#logo {
		margin-top: 43px; 
	}

	.navBar {
		margin-top: 100px;
	}

		.navBar a {
			color: black; 
			padding-right: 30px; 
			font-size: 11px; 
		}


/* -----------------------------------------
   Welcome Page
----------------------------------------- */

	.mainContent{
		margin-top: 30px; 
	}


/* -----------------------------------------
   Page Name 2
----------------------------------------- */


